<div class="jumbotron">
	<label>Titre<input type="text" ng-model="newMovie" /></label>
	<label>Synoptique<textarea rows="4" cols="40" ng-model="overview" {resize: none}></textarea></label>
	<button type="button" class="btn btn-success" ng-click="addMovie()">Ajouter un film</button>
</div>

<ul>
	<li ng-repeat="movie in MoviesDB.getMovies() track by $index">
		<img ng-src="{{movie.poster_path | urlPoster}}" />
		<a ng-href="#/movie/{{$index}}">{{movie.title}}</a>
		<button type="button" class="btn btn-danger btn-xs" ng-click="deleteMovie(movie)">X</button>
	</li>
</ul>
