<div class="jumbotron" style="opacity: 0.9">
	<p><strong>Titre:</strong> {{movie.title}}</p>
	<p><strong>Synoptique:</strong> {{movie.overview}}</p>
	<h3>Releases</h3>
	<div class="row">
		<div ng-repeat="p in pays" class="col-md-4">
			<flag country="{{p.iso_3166_1}}" size="32"></flag>
			<p>{{p.release_date}}</p>
		</div>
	</div>
	<h3>Similaire</h3>
	<slick dots="true" infinite="false" slides-to-show="3" slides-to-scroll="3" responsive="breakpoints" init-onload="true" data="movie.similar.results">
		<div ng-repeat="r in movie.similar.results">
			<a ng-href="#/movie/{{r.id}}"><img ng-src="{{r.poster_path | urlPoster}}" /></a>
		</div>
	</slick>
</div>
